<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Own CSS -->
    <link rel="stylesheet" href="static/style.css">

    <link href='https://fonts.googleapis.com/css?family=Noto+Serif+Display' rel='stylesheet'>
    <style>
        body {
            font-family: 'Noto Serif Display';
            font-size: 22px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url({{url_for('static', filename='background_white.png')}}); background-size: auto; background-repeat: no-repeat;">
<div class="container">
    <div class="row m-4">
        <div id="question-col" class="col-sm-6">
            <div class="card text-black border-warning bg-transparent mb-3" style="border-width:3px">
                {% for question in questions %}
                    <div class="card-header"><b>{{ question[1] }}</b></div>
                {% endfor %}
                <div class="card-body">
                    <form action="/question/{{ question_id }}/process" method="POST">
                        <div class="col-sm-6">
                            {% for answer in answers %}
                                <label><input type="checkbox" class="radio" value="{{ answer[0] }}"
                                              name="answer"/>{{ answer[1] }}</label>
                                <br>
                            {% endfor %}
                            <input type="submit" name="submit" class="btn">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 text-left">
                    <a href="/question/1">
                        <button type="button" class="btn btn-warning btn-lg mt-2">
                            Vorige vraag.
                        </button>
                    </a>
                </div>
        </div>
        <div class="col-sm-6">
            <div class="row ml-5">
                <div class="col-sm-12">
                    <img class="img-fluid" src="{{ url_for('static', filename='hufflepuff.png') }}"/>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $("input:checkbox").on('click', function () {
            var $box = $(this);
            if ($box.is(":checked")) {
                var group = "input:checkbox[name='" + $box.attr("name") + "']";
                $(group).prop("checked", false);
                $box.prop("checked", true);
            } else {
                $box.prop("checked", false);
            }
        });
    </script>
</body>
</html>