.btn-black {
    background-color:#000;color: #FFF;
}
.btn-black:hover {
    color: #FFF;
}

#question-col {
    font-size: 35px;
}

.card {
    border-color: orange;
}

.card-title {
    font-size: 32px;
}


